

.container {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
   
  }

 
  .suggestions {
    position: absolute;
    top: 100%;
    right: 10px; /* right side se thoda gap */
    background-color: white;
    border-top: none;
    max-height: 250px;
    overflow-y: auto;
    z-index: 1000;
    display: none;
    color: #000000;
    width: 30%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  }
  
  .suggestion-item {
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

  }

  .suggestion-item:hover {
    background-color: #f0f0f0;
  }

  .search-container.active .suggestions {
    display: block;
  }

  /* Responsive Styles */
  @media (max-width: 1024px) {
    .search-bar {
      padding: 12px 40px;
      font-size: 16px;
    }
  }

  @media (max-width: 768px) {
    .search-bar {
      padding: 10px 30px;
      font-size: 15px;
    }

    .search-icon {
      font-size: 18px;
    }
  }

  @media (max-width: 480px) {
    .search-bar {
      padding: 10px 25px;
      font-size: 14px;
    }

    .search-icon {
      font-size: 16px;
    }
  }